<div id="pageTitle">
	<h1><%= @property.title%></h1>
</div>

<div id="toolbar">
        <%= link_to "Back", :action => :index %>
        <%= link_to "Edit", :action => :edit, :id => @property.object %>
</div>


<div id="content">

    <table>
      
      <tr>
    	<td class="itemLabel">Title</td>
        <td class="itemValue"><%= @property.title%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Address</td>
        <td class="itemValue"><%= @property.address%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">City</td>
        <td class="itemValue"><%= @property.city%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">State</td>
        <td class="itemValue"><%= @property.state%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Country</td>
        <td class="itemValue"><%= @property.country%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Price</td>
        <td class="itemValue"><%= @property.price%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Description</td>
        <td class="itemValue"><%= @property.description%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Builder</td>
        <td class="itemValue"><%= @property.builder%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Beds</td>
        <td class="itemValue"><%= @property.beds%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Bathrooms</td>
        <td class="itemValue"><%= @property.bathrooms%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Kitchens</td>
        <td class="itemValue"><%= @property.kitchens%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">YearBuild</td>
        <td class="itemValue"><%= @property.year_build%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Floor</td>
        <td class="itemValue"><%= @property.floor%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Condition</td>
        <td class="itemValue"><%= @property.condition%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">PlayArea</td>
        <td class="itemValue"><%= @property.play_area%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">TarRoads</td>
        <td class="itemValue"><%= @property.tar_roads%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">ClubHouse</td>
        <td class="itemValue"><%= @property.club_house%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">SwimmingPool</td>
        <td class="itemValue"><%= @property.swimming_pool%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">PartyHall</td>
        <td class="itemValue"><%= @property.party_hall%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">HealthClub</td>
        <td class="itemValue"><%= @property.health_club%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Garden</td>
        <td class="itemValue"><%= @property.garden%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Security</td>
        <td class="itemValue"><%= @property.security%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Intercom</td>
        <td class="itemValue"><%= @property.intercom%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Featured</td>
        <td class="itemValue"><%= @property.featured%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">CatId</td>
        <td class="itemValue"><%= @property.cat_id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">BuilderId</td>
        <td class="itemValue"><%= @property.builder_id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">CreatedAt</td>
        <td class="itemValue"><%= @property.created_at%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">UpdatedAt</td>
        <td class="itemValue"><%= @property.updated_at%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Sold</td>
        <td class="itemValue"><%= @property.sold%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Latitude</td>
        <td class="itemValue"><%= @property.latitude%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Longitude</td>
        <td class="itemValue"><%= @property.longitude%></td>
      </tr>
      
    </table>
</div>